    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    :root {
        --primary-color: rgb(128, 184, 201);
        --second-color: rgb(25, 92, 112);
    }
    
    * {
        box-sizing: border-box;
        outline: 0;
    }

    body{
        margin: 0;
        padding: 0;
        background-color: var(--primary-color);
        font-family: 'Open sans', sans-serif;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }

    .container {
        max-width: 640px;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        border-radius: 12px;
    }
    
    form input, form label, form button {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    form input {
        font-size: 24px;
        height: 50px;
        padding: 0 20px;
    }

    form-inpunt:focus {
        outline: 1px solid var(--primary-color);
    }

    form button {
        border: none;
        background-color: var(--primary-color);
        color:#fff;
        font-size: 18px;
        font-weight: 700px;
        height: 50px;
        cursor: pointer;
        margin-top: 30px
    }

    form button:hover{ 
        background-color: var(--second-color);
    }

    .paragrafo-resultado, .incorreto {
        background-color: rgb(160, 240, 160);
        padding: 0 20px;
    }

    .incorreto {
        background-color: rgb(218, 107, 107);
    }

    .calculadora {
        width: 400px;
    }

    .display{
        font-size: 2em;
        width: 100%;
        text-align: right;
    }

    .btn {
        width: 100%;
        height: 40px;
        font-size: 1em;
        border: none;
        background-color: #dfdfdf;
        cursor: pointer;
    }

    .btn:hover{
        background-color: #cac9c9;
    }